src/p11_change_pin
src/p11_init_pin
src/p11_list_certs
src/p11_list_keys
src/p11_generate_key
src/p11_init_token
src/p11_make_csr
src/p11_store_cert
src/p11_store_key

Makefile
Makefile.in
core
archive
acinclude.m4
aclocal.m4
autom4te.cache
compile
confdefs.h
config.*
configure
conftest
conftest.c
depcomp
install-sh
libtool
libtool.m4
ltmain.sh
missing
mkinstalldirs
so_locations
stamp-h*

.deps
.libs
.#*#
.*.bak
.*.orig
.*.rej
.*~
#*#
*.swp
*.bak
*.d
*.def
*.dll
*.exe
*.la
*.lib
*.lo
*.o
*.orig
*.pdb
*.rej
*.u
*.rc
*.pc
*~
*.gz
*.bz2
*.out

m4/*

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
